*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: "Inter", sans-serif;
    font-weight: 400;
}
.main{
    height:100vh;
    width:100%;
    background-color: #d0d4d5;
}
.nav{
    height: 110px;
    width:100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
.nav-part-1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav img{
    height:80px;
    width:auto;
    margin-right:70px;
}
.nav-part-1 ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.nav-part-1 ul li:hover{color:#555}
.content-right::-webkit-scrollbar{
    display:none;
}
.nav-part-1 ul li{
    margin-right:40px;
    font-size:19px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}
.nav-part-2{
    display:flex;
}
.nav-part-2 i{
    margin-right:40px;
    font-size:24px;
    font-weight: 500;
    cursor:pointer;
}
#rim{
    margin-left: 550px;
}
.content{
    height: calc(100% - 110px);
    width: 100%;
    position: relative;
    display:flex;
}
.content-left{
    height: 100%;
    width :40%;
    padding: 80px 100px;
    border-top:2px solid black;
}
.content-left h5{
    font-size: 20px;
    text-transform: capitalize;
    color : #555;
    margin-bottom: 10px;
}
.content-left h1{
    font-size: 55px;
    text-transform: uppercase;
    color:black;
    margin-bottom:10px;

}
.content-left p{
    font-size: 20px;
    color: black;
    width:80%;
    margin-bottom:30px;
}
.btn{
    background-color: black;
    color:white;
    padding:12px 40px;
    font-weight:600;
    border:none;
    border-radius: 50px;
    border-bottom-left-radius: 0px;
}
.btn:hover{
    background-color: #555;
}
.content-right{
    height:100%;
    width:60%;
    padding: 110px 100px;
    white-space: nowrap;
    overflow-x: auto;
    border-top:2px solid black;
}

.product{
    height:370px;
    width:250px;
    background-color: #1011;
    position:relative;
    box-shadow:0 5px 10px rgba(17,0,17,0.3);
    display: inline-block;
    margin-right:20px;

}
.product img{
    height:100%;
    width:100%;
    object-fit: contain;
    position: absolute;
    bottom:25%;
}
.product h4{
    font-size:22px;
    text-transform :capitalize;
    position: absolute;
    bottom:32%;
}
.category{
    position: absolute;
    bottom:22%;
    font-weight:500;
    text-transform:capitalize;
}
.language{ position: absolute;
    bottom:15%;
    font-weight:500;
    text-transform:capitalize;
}
.price{
    font: 18px;
    position: absolute;
    bottom:5%;
    font-weight:600;
    text-transform:capitalize;
}
.nav-part-2 i:hover{
    color:#555;
}